<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299955720918-rjeiumt1psk7r44d55n2mkbec48drv0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299955720918-rjeiumt1psk7r44d55n2mkbec48drv0g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>299955720918-3q0rj4qodlrumqfqpjm20ju3irlo7elu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEnnWSYZQTNRfrGVZaDF6WbxFcmETe9N0</string>
	<key>GCM_SENDER_ID</key>
	<string>299955720918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.betterfood.Fork-Staging</string>
	<key>PROJECT_ID</key>
	<string>fork-chile</string>
	<key>STORAGE_BUCKET</key>
	<string>fork-chile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299955720918:ios:8eda70e6c2dea018b1ef77</string>
	<key>DATABASE_URL</key>
	<string>https://fork-chile.firebaseio.com</string>
</dict>
</plist>